.App {
  text-align: center;
  height: 100vh;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ChatBox {
  background-color: lightgrey;
  height: 90vh;
  overflow-y: scroll;
}

.ChatInput {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

.MessageInput {
  width: 80vw;
  font-size: 5vh;
  border: 1px solid grey;
  margin: 0 1px;
}

.MessageInput:focus {
  outline: 1px solid black;
  border-radius: 0;
}

.SendMessage {
  /* height: calc(5vh + 4px); */
  /* height: 5vh; */
  font-size: 5vh;
  width: 15vw;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
